@import './styles/fonts.css';

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Mines-weeper';
  margin: 0 auto;
  gap: 20px;
  max-width: 1280px;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.ghostHeaderPic {
  height: 3em;
}

.btnWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 10px;
  width: 45%;
}

.button {
  font-family: 'Mines-weeper';
  width: 30%;
  background: transparent;
  cursor: pointer;
}

.fieldWrapper {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.timerWrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 0.5em;
}

.field {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  border: 2px solid black;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 100;
  font-size: .8em;
  border: 1px solid black;
  /* border: 1px solid white; */
  /* background-color: rgb(0, 0, 0); */
  box-sizing: border-box;
  cursor: pointer;
}

.ghostImg {
  width: 95%;
}
